<nav class="navbar navbar-default navbar-fixed-bottom">
      
    <div class="container-fluid text-center ">
        <p>Thiago Thomaz - 2015</p>

        <ul class="nav nav-pills">

          <li role="presentation"><a href="https://github.com/thiagorthomaz/" target="_blank">Github</a></li>
          <li role="presentation"><a href="https://www.facebook.com/thiago.thomaz.378" target="_blank">Facebook</a></li>
          <li role="presentation"><a href="https://www.linkedin.com/in/thiago-thomaz-b575b063">Linkedin</a></li>

        </ul>

    </div>

  </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/extras/bootstrap/js/bootstrap.min.js"></script>
  
  </body>
</html>