<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} | Thiago Thomaz</title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags }}">{% endif %}

    
    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    
    <!-- Bootstrap -->
    <link href="/extras/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/extras/css/custom.css">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    
    <nav class="navbar navbar-fixed-top">
      
    <div class="container-fluid">
      
      <div class="navbar-header">
          <h1>
              Thiago Thomaz
              <br>
              <small class="small">Developer &amp; Software Engineer</small>
          </h1>
      </div>
      
      <div class="nav navbar-nav navbar-right">
      <div class="dropdown ng-scope">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-bars"></i>
      </button>
        
      <ul class="dropdown-menu ng-scope" aria-labelledby="dropdownMenu1">

        <li><a {% if page.url == '/' %}class="active" {% endif %}href="{{ site.url }}/">About</a></li>
        <li><a {% if page.url == '/projects/' %}class="active" {% endif %}href="{{ site.url }}/projects/">Projects</a></li>
        <li><a {% if page.url == '/blog/' %}class="active" {% endif %}href="{{ site.url }}/blog/">Blog</a></li>
        <li><a {% if page.url == '/skills/' %}class="active" {% endif %}href="{{ site.url }}/skills/">Skills</a></li>
        
        
      </ul>
      </div>
      </div>
      
    </div>

  </nav>
 