
<div class="container-fluid">

  <div class="row">
  
    <div>
      <div class='col-md-6 center-block' style="float: none;">

      {% for post in site.posts %}

        <div class="panel panel-default">

          <div class="panel-body">
            <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
            <h1>{{ post.title }}</h1>
            <p>
              {{ post.description }}
            </p>
            <p>
              <a class="pull-right" href="{{ post.url }}">Read more →</a>
            </p>
          </div>

        </div>
      
      {% endfor %}

      </div>
      
    </div>

  </div>

</div>


