@import url(https://fonts.googleapis.com/css?family=Roboto:200,400,700);
@import url(https://fonts.googleapis.com/css?family=Abel);

* {
    font-family: 'Roboto', sans-serif !important;
}

body { 
    padding-top: 10em; 
    padding-bottom: 10em;
}

#main {
    overflow: auto;
    height: 100%;
    margin-bottom: 3em;
}

.navbar.navbar-fixed-top h1 {
    font-size: 3em;
    font-family: 'Abel', sans-serif !important;
    text-transform: none;
}
.navbar-fixed-top .dropdown {
    margin-right: 15px;
    font-size: 3em;
}
.navbar-fixed-top .dropdown button i {
    font-size: 2.5em !important;
}
.navbar h1 small.small {
    font-size: 16px;
    float: left;
}

.navbar.navbar-fixed-top {
    min-height: 2em;
    background-color: #fff;
}


h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    font-weight: 700;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome !important;
}

h1 {
    color: #3a3a3a;
    font-size: 3em;
}
h2 {
    color: #888888;
    font-size: 2em;
}

p {
    font-weight: 200;
    font-size: 1.2em;
}

.list-group li>a {
    font-size: 1.2em;
    font-weight: 400;
}
.nav>li>a{
    font-size: 1.2em;
}

.navbar-fixed-bottom {
    padding-top: 1.5em;
}
.navbar-fixed-bottom .nav.nav-pills {
    display: inline-block;
    float: none;
}

.red-skill{
    color: #d61915;
}

.green-skill {
    color: #3c763d;
}

.skills p {
    font-size: 1.5em;
}
.skills .col-md-4 p strong {
    width: 50%;
    display: block;
    float: left;
}

.social {
    bottom: 0;
}
.social a {
    padding-left: 1.8em;
}

.social a i{
    font-size: 4em !important;
}


@media screen and (min-width: 768px) {
    body { 
        padding-top: 7em; 
        padding-bottom: 5em;
    }
    
    .navbar h1 small.small {
        font-size: 16px;
        float: right;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
    
}