{% include header.html %}

<div id="main" class="container-fluid">

  <div class="row">

    <div class="col-md-3">

    </div>

    <div class="col-md-12">
      <div>

        <section>
          <div class="row">
            <header class="col-md-12">
              <h1>Skills</h1>
            </header>
            <article class="skills">

              <div class="col-md-4">

                <h2>Languages</h2>
                <hr>
                <p>
                  <strong>PHP</strong> <span class="green-skill">+++++++++</span>
                </p>
                <p>
                  <strong>SQL</strong> <span class="red-skill"><span class="green-skill">++++++++</span>+</span>
                </p>
                <p>
                  <strong>Javascript</strong> <span class="red-skill"><span class="green-skill">+++++++</span>++</span>
                </p>
                <p>
                  <strong>HTML5</strong> <span class="red-skill"><span class="green-skill">++++++++</span>+</span>
                </p>
                <p>
                  <strong>CSS3</strong> <span class="red-skill"><span class="green-skill">+++++++</span>++</span>
                </p>
                <p>
                  <strong>C#</strong> <span class="red-skill"><span class="green-skill">+++++</span>++++</span>
                </p>
                <p>
                  <strong>JAVA</strong> <span class="red-skill"><span class="green-skill">+++++</span>++++</span>
                </p>

              </div>
              <div class="col-md-4">

                <h2>Server / Tools</h2>
                <hr>
                <p>
                  <strong>Apache</strong> <span class="red-skill"><span class="green-skill">++++++</span>+++</span></p>
                <p>
                  <strong>Ubuntu</strong> <span class="red-skill"><span class="green-skill">+++++++</span>++</span>
                </p>
                <p>
                  <strong>Firebird</strong> <span class="red-skill"><span class="green-skill">+++++++++</span></span>
                </p>
                <p>
                  <strong>MySQL</strong> <span class="red-skill"><span class="green-skill">+++++++++</span></span>
                </p>
                <p>
                  <strong>Git / SVN</strong> <span class="red-skill"><span class="green-skill">++++++</span>+++</span>
                </p>
              </div>
              <div class="col-md-4">
                <h2>Libraries / Frameworks</h2>
                <hr>
                <p>
                  <strong>JQuery</strong> <span class="red-skill"><span class="green-skill">+++++++++</span></span>
                </p>
                <p>
                  <strong>Bootstrap</strong> <span class="red-skill"><span class="green-skill">+++++++++</span></span>
                </p>
                <p>
                  <strong>Wordpress</strong> <span class="red-skill"><span class="green-skill">++++++++</span>+</span>
                </p>
                <p>
                  <strong>AngularJS</strong> <span class="red-skill"><span class="green-skill">+++++++</span>++</span></p>
              </div>



            </article>        

          </div>

        </section></div>        
    </div>


  </div>

</div>


{% include footer.html %}